@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Montserrat+Alternates:wght@300;400;500;600;700;800;900&family=Montserrat:wght@300;400;500;600;700;800;900&family=Nunito+Sans:opsz,wght@6..12,300;6..12,400;6..12,500;6..12,600;6..12,700;6..12,800;6..12,900&family=PT+Sans+Narrow&family=Rethink+Sans:wght@400;500;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: 'Rethink Sans';
}

/* :root {
   --bg-btn: #fed7d7;
   --btn-color: #e53e3e;
} */

body {
  margin: 0;
  /* -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */
}

.memo {
    font-family: 'Rethink Sans';
}

  /* REMEMBER ME TOGGLE  */

/* #checkbox:checked ~ .btn-change::before {
   transition: 0.3s;
   transform: translateX(13px);
}

.btn-change {
   background-color: var(--bg-btn);
}

.btn-change::before {
   content: '';
   display: block;
   width: 10px;
   height: 10px;
   border-radius: 50%;
   background-color: var(--btn-color);
   transition: 0.3s;
   transform: translateX(0);
} */


